@import "../base/page";

.page-end {
    .base-page;

    background-color: #070f2b;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .end_page {
        .bg {
            width: 100%;
            top: 0;
            left: 0;
        }
        .logo {
            position: absolute;
            width: 34%;
            top: 11.2%;
            left: 33%;
        }
        .product, .text {
            width: 100%;
            left: 0;
        }
        .text {
            top: 24.1%;
        }
        .product {
            top: 26.6%;
        }
        .btn.go {
            width: 28%;
            // top: 91%;
            left: 36%;
        }
    }
}
