@import "../base/page";

.page-home {
    .base-page;

    background-color: #070f2b;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .home_page {
        .bg, .light {
            width: 100%;
            top: 0;
            left: 0;
        }
        .logo {
            position: absolute;
            width: 34%;
            top: 11.2%;
            left: 33%;
        }
        .text {
            width: 100%;
            top: 39.7%;
            left: 0;
        }
        .arrow {
            width: 11.6%;
            // top: 88.6%;
            left: 44.2%;
        }
        .guide {
            width: 27.4%;
            // top: 94.6%;
            left: 36.3%;
        }
    }
}
