@import "../base/page";

.page-page2 {
    .base-page;

    background-color: #070f2b;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .page2_page {
        .bg {
            width: 100%;
            top: 0;
            left: 0;
        }
        .qrcode {
            position: absolute;
            width: 4.2rem;
            height: 4.2rem;
            top: 36%;
            left: 0;
            right: 0;
            margin: 0 auto;
            border: 2px solid #2bb3be;
            box-shadow: 0 0 3px #2bb3be;
            background: #fff;
            #qrcode {
                margin-left: 10%;
                margin-top: 10%;
                width: 80%;
                height: 80%;
            }
        }
        .text {
            width: 100%;
            top: 73.4%;
            left: 0;
        }
    }
}
