@import "../base/page";

.page-page3 {
    .base-page;

    background-color: #070f2b;

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    img {
        position: absolute;
    }
    .page3_page {
        .bg {
            width: 100%;
            top: 0;
            left: 0;
        }
        .logo {
            position: absolute;
            width: 34%;
            top: 11.2%;
            left: 33%;
        }
        .text {
            width: 100%;
            top: 24%;
            left: 0;
        }
        .form {
            position: absolute;
            width: 64%;
            top: 41.4%;
            left: 18%;
            font-size: 0.4rem;
            color: #fff;
            .input-wrapper {
                margin-bottom: 0.7rem;
                padding-left: 10px;
                height: 1rem;
                line-height: 0.9rem;
                border: 2px solid #fff;
                box-shadow: 0 0 5px #fff;
                input {
                    font-size: 0.4rem;
                    color: #fff;
                    border: none;
                    outline: none;
                    background: transparent;
                }
                input[name="name"] {
                    vertical-align: top;
                    margin-top: 0.17rem;
                }
                .name, .mobile {
                    width: 4rem;
                }
                .code {
                    width: 2rem;
                }
            }
            .code.input-wrapper {
                position: relative;
                .send {
                    position: absolute;
                    top: -2px;
                    right: 0;
                    width: 2.4rem;
                    height: 1rem;
                    line-height: 1rem;
                    background: #fff;
                    color: #000;
                    text-align: center;
                    border: none;
                }
            }
            .btn.submit {
                width: 52%;
                margin: 12% 24%;
            }
        }
        .modal {
            display: none;
            position: absolute;
            width: 100%;
            height: 135%;
            background: rgba(0, 0, 0, .7);
            .modal-content {
                width: 68%;
                top: 29%;
                left: 16%;
            }
            .go {
                position: absolute;
                width: 32%;
                height: 1rem;
                top: 54%;
                left: 34%;
            }
        }
    }
}
