@import "../base/page";
.page-page1 {
    .base-page;
    
    background-color: #070f2b;
    overflow-x: scroll!important;
 
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        -ms-touch-action: none;
    }
    .page1_page {
        position: absolute;
        width: 100%;
        height: 100%;
        left: -200%;
        .bg {
            position: absolute;
            width: 500%;
            height: auto;
            top: 0;
            left: 0;
        }
        .logo {
            position: fixed;
            width: 34%;
            top: 11.2%;
            left: 33%;
        }
        .arrow {
            position: fixed;
            width: 8%;
            top: 52%;
        }
        .left {
            left: 3%;
        }
        .right {
            right: 3%;
        }
        .section {
            position: absolute;
            width: 100%;
            top: 0;
            img {
                width: 100%;
            }
            .star, .planet, .text {
                position: absolute;
            }
            .planet {
                .planet-light {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .text {
                opacity: 0;
            }
            .star {
                opacity: 0;
            }
            .star1 {
                width: 2.8%;
                top: 59.8%;
                left: 28.2%;
                transform: rotate(7deg);
            }
            .star2 {
                width: 2.8%;
                top: 47.8%;
                left: 39.1%;
                transform: rotate(6deg);
            }
            .star3 {
                width: 2.8%;
                top: -23.6%;
                left: 45.2%;
                transform: rotate(5deg);
            }
            .star4 {
                width: 4.8%;
                top: -8%;
                left: 43.6%;
                transform: rotate(9deg);
            }
            .star5 {
                width: 4.8%;
                top: 58.6%;
                left: 58%;
                transform: rotate(8deg);
            }
            .star6 {
                width: 2.8%;
                top: -13%;
                left: 79.6%;
                transform: rotate(8deg);
            }
            .star7 {
                width: 4%;
                top: 60.6%;
                left: 81%;
            }
            .star8 {
                width: 2.2%;
                top: -5%;
                left: 103.7%;
                transform: rotate(13deg);
            }
            .star9 {
                width: 4.8%;
                top: -3.1%;
                left: 101.1%;
                transform: rotate(6deg);
            }
            .star10 {
                width: 9%;
                top: 67.6%;
                left: 99.8%;
            }
            .star11 {
                width: 4.8%;
                top: -26.4%;
                left: 116.4%;
                transform: rotate(7deg);
            }
            // .star12 {
            //     width: 9%;
            //     top: 66%;
            //     left: 121%;
            // }
        }
        .section.stars {
            width: 400%;
            height: 100%;
        }
        .section1 {
            .planet1 {
                width: 45.8%;
                top: 17.3%;
                right: 4.2%;
            }
            .text1 {
                width: 35.2%;
                top: 42.5%;
                right: 12.6%;
            }
        }
        .section2 {
            left: 100%;
            .planet2 {
                width: 35%;
                top: 26.8%;
                left: 10%;
            }
            .text2 {
                width: 35.2%;
                top: 21.8%;
                left: 51%;
            }
        }
        .section3 {
            left: 200%;
            .planet3 {
                width: 43%;
                top: 14.2%;
                left: 5%;
            }
            .text3 {
                width: 35.4%;
                top: 25.8%;
                left: 50.8%;
            }
        }
        .section4 {
            left: 300%;
            .planet4 {
                width: 43%;
                top: 28.9%;
                left: 45.8%;
            }
            .text4 {
                width: 35.4%;
                top: 49.7%;
                left: 51.2%;
            }
        }
        .section5 {
            left: 400%;
            .planet5 {
                width: 43%;
                top: 18.8%;
                left: 6%;
            }
            .text5 {
                width: 35.4%;
                top: 20.4%;
                left: 52%;
            }
        }
        .buttons {
            display: none;
        }
        .btn {
            position: fixed;
            width: 32%;
            top: 82.4%;
        }
        .select {
            left: 14%;
        }
        .back {
            right: 14.4%;
        }
        .tip {
            position: fixed;
            width: 60%;
            top: 80.6%;
            left: 20%;
        }
    }
}