<div class="wrapper wrapper">
    <div class="end_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/end/bg.png" />
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- 文本 -->
        <img class="text" src="assets/images/end/text.png" />
        <!-- 产品 -->
        <img class="product" src="assets/images/end/product.png" />
        <!-- 按钮 -->
        <img class="btn go" src="assets/images/end/btn-go.png" />
    </div>
</div>