<div class="wrapper wrapper">
    <div class="home_page page">
    	<!-- 背景 -->
        <img class="bg" src="assets/images/home/bg.png" />
        <!-- 星光 -->
        <<img class="light light1" src="assets/images/home/light1.png" />
        <<img class="light light2" src="assets/images/home/light2.png" />
		<!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- 文本 -->
        <img class="text" src="assets/images/home/text.png" />
        <!-- 箭头 -->
        <img class="arrow" src="assets/images/home/arrow.png" />
        <!-- 文本 -->
        <img class="guide" src="assets/images/home/guide.png" />
    </div>
</div>