<div class="wrapper wrapper">
    <div class="page2_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/page2/bg.png" />
        <!-- 二维码 -->
        <div class="qrcode">
            <div id="qrcode"></div>
        </div>
        <!-- 文本 -->
        <img class="text" src="assets/images/page2/text.png" />
    </div>
</div>