<div class="wrapper wrapper">
    <div class="page1_page page">
        <!-- bg -->
        <img class="bg" src="assets/images/page1/bg.png" />
        <!-- 流星 -->
        <div class="section stars">
            <img class="star star1" src="assets/images/page1/star.png" />
            <img class="star star2" src="assets/images/page1/star.png" />
            <img class="star star3" src="assets/images/page1/star.png" />
            <img class="star star4" src="assets/images/page1/star.png" />
            <img class="star star5" src="assets/images/page1/star.png" />
            <img class="star star6" src="assets/images/page1/star.png" />
            <img class="star star7" src="assets/images/page1/star7.png" />
            <img class="star star8" src="assets/images/page1/star.png" />
            <img class="star star9" src="assets/images/page1/star.png" />
            <img class="star star10" src="assets/images/page1/star.png" />
            <img class="star star11" src="assets/images/page1/star.png" />
        </div>
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- 第一屏 -->
        <div class="section section1">
            <img class="product" src="assets/images/page1/product1.png" />
            <div class="planet planet1" data-num="1">
                <img class="planet-dark planet1-dark" src="assets/images/page1/planet1-dark.png" />
                <img class="planet-light planet1-light" src="assets/images/page1/planet1-light.png" />
            </div>
            <img class="text text1" src="assets/images/page1/text1.png" />
        </div>
        <!-- 第二屏 -->
        <div class="section section2">
            <img class="product" src="assets/images/page1/product2.png" />
            <div class="planet planet2" data-num="2">
                <img class="planet-dark planet2-dark" src="assets/images/page1/planet2-dark.png" />
                <img class="planet-light planet2-light" src="assets/images/page1/planet2-light.png" />
            </div>
            <img class="text text2" src="assets/images/page1/text2.png" />
        </div>
        <!-- 第三屏 -->
        <div class="section section3">
            <img class="product" src="assets/images/page1/product3.png" />
            <div class="planet planet3" data-num="3">
                <img class="planet-dark planet3-dark" src="assets/images/page1/planet3-dark.png" />
                <img class="planet-light planet3-light" src="assets/images/page1/planet3-light.png" />
            </div>
            <img class="text text3" src="assets/images/page1/text3.png" />
        </div>
        <!-- 第四屏 -->
        <div class="section section4">
            <img class="product" src="assets/images/page1/product4.png" />
            <div class="planet planet4" data-num="4">
                <img class="planet-dark planet4-dark" src="assets/images/page1/planet4-dark.png" />
                <img class="planet-light planet4-light" src="assets/images/page1/planet4-light.png" />
            </div>
            <img class="text text4" src="assets/images/page1/text4.png" />
        </div>
        <!-- 第五屏 -->
        <div class="section section5">
            <img class="product" src="assets/images/page1/product5.png" />
            <div class="planet planet5" data-num="5">
                <img class="planet-dark planet5-dark" src="assets/images/page1/planet5-dark.png" />
                <img class="planet-light planet5-light" src="assets/images/page1/planet5-light.png" />
            </div>
            <img class="text text5" src="assets/images/page1/text5.png" />
        </div>
        <!-- 箭头 -->
        <div class="arrows">
            <!-- 左箭头 -->
            <img class="arrow left" src="assets/images/page1/left.png" />
            <!-- 右箭头 -->
            <img class="arrow right" src="assets/images/page1/right.png" />
        </div>
        <!-- 按钮 -->
        <div class="buttons">
            <!-- 选择 -->
            <img class="btn select" src="assets/images/page1/btn-select.png" />
            <!-- 返回 -->
            <img class="btn back" src="assets/images/page1/btn-back.png" />
        </div>
        <!-- 提示 -->
        <img class="tip" src="assets/images/page1/tip.png" />
    </div>
</div>