<div class="wrapper wrapper">
    <div class="page3_page page">
        <!-- 背景 -->
        <img class="bg" src="assets/images/page3/bg.png" />
        <!-- logo -->
        <img class="logo" src="assets/images/logo.png" />
        <!-- 文本 -->
        <img class="text" src="assets/images/page3/text.png" />
        <!-- 表单 -->
        <div class="form" name="form">
            <div class="input-wrapper">
            	<label>姓名：</label>
            	<input class="name input" type="text" name="name">
            </div>
            <div class="input-wrapper">
            	<label>手机号：</label>
            	<input class="mobile input" type="number" name="mobile">
            </div>
            <div class="code input-wrapper">
            	<label>验证码：</label>
            	<input class="code input" type="text" name="code">
            	<button class="send">获取验证码</button>
            </div>
            <!-- 按钮 -->
            <img class="btn submit" src="assets/images/page3/btn-submit.png" />
        </div>
        <!-- 弹窗 -->
        <div class="modal">
			<img class="modal-content" src="assets/images/page3/modal-content.png" />
			<div class="go"></div>
        </div>
    </div>
</div>